# Platform related ignores
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# Capistrano
log/capistrano.log

# Credentials, uploads and cache
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/cache/*
